.offer-box {
    border: 2px solid #ddd;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: all 0.3s ease;
    background-color: #fff;
    position: relative;
}

.offer-box.hovered {
    background-color: #aac7ac;
    border-color: #073b1d;
    transform: scale(1.02);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.size-color-fields {
    display: none;
    margin-top: 15px;
}

.offer-box.hovered .size-color-fields {
    display: block;
}

.discount-badge {
    color: black;
    font-size: 20px;
    font-weight: 500;
    padding: 3px 8px;
    border-radius: 5px;
    margin-left: 10px;
}
.btn-cart {
background-color: #073b1d !important;
color: white !important;
font-weight: bold !important;
width: 100%;
}

.btn-cart:hover {
background-color: #073b1d;
}